<div class="item">
  <div class="well">
    <div class="card card-block">
      <h5 class="card-title"> <%# commentedout.. = question.title %> </h5>
      <h5 class="card-title"> <%= question.question_list.name %> </h5>
      <p class="card-title" style=" color:red; "> <%= question.question_note %></p>

      <div id="answer">
       
        <% question.answers.each do |answr| %>
        <% end %>
      </div>

      <% if question.qtype == "short_answer"  %>
        <%= text_field_tag "answers[#{question.id}]", "",  type: 'text' , class: 'form-control' , :required => true, :autocomplete => :off %>
        
      <% elsif question.qtype == "select_part_number" %>
        <%= select_tag "answers[#{question.id}]", options_from_collection_for_select(PartNumber.all, :name , :name ) , { :prompt => 'Please Select', :required => true,  :class => 'dgselect2' , :autocomplete => :off }  %>

      <% elsif question.qtype == "select_process_step" %>
        <%= select_tag "answers[#{question.id}]", options_from_collection_for_select(ProcessStep.all, :name , :name ) , { :prompt => 'Please Select', :required => true,  :class => 'dgselect2' , :autocomplete => :off }  %>

      <% elsif question.qtype == "select_yes_no" %>
        <%= radio_button_tag "answers[#{question.id}][yes_no]", "Yes",  class:'radio-required-yes' %>
        <%= label_tag :yes_label, "Yes" %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= radio_button_tag "answers[#{question.id}][yes_no]", "No", checked = true ,  class:'radio-required-no' %>
        <%= label_tag :no_label, "No" %>
        <br><br>
        <div>
          Issue: <%= text_field_tag "answers[#{question.id}][issue_description]" , nil,  type: 'text' , class: 'form-control' , id: 'required-if-no', :autocomplete => :off   %>
        </div>
        <div>
          Action Taken: <%= text_field_tag "answers[#{question.id}][action_taken]", "",  type: 'text' , class: 'form-control' , id: 'required-if-no' , :autocomplete => :off  %>
        </div>
        
     <% end %>
    </div>
  </div>
</div>


    
