<div class="border-show-div">
  <header>
    <h3 class="survey-title"><%= @survey.title %></h3>
  </header>
    <% if @survey.questions.any? %>
      <%= form_tag answers_path, method: :post do %>
        <%= hidden_field_tag 'survey_id', @survey.id %>
        <%= render @survey.questions %>

        <%= submit_tag 'Submit LPA', class: "btn btn-info btn-md btn-block"  %>
        <br>
        <br>
        <br>
        <p><%= link_to "Cancel", surveys_path, data: {confirm: "Are you sure you want to cancel?"}, class: "btn btn-danger " %></p>
        <%#= link_to "Delete", survey_path(@survey), :method => :delete,
                                              data: {confirm: "Are you sure you want to delete?"} %>
      <% end %>
    <% end %>
</div>



<br>
<hr>
<button onclick="myFunction()"> Tryme:  popup javascript alert for a test</button>
<p class="tryme2"> Tryme2 </p>



<script>
// works.. pops up when tryme2 is clicked..
$(document).ready(function(){
  $('.tryme2').click(function(){
    alert("You clicked: " + $(this).data('id'));
  });
});

/*
// works.. it pops up tryme3 on page load.
$(document).ready(function(){
    alert("tryme3 ");
});
*/

</script>


<script>
// no works..
// ask before leaving edited form..

$(document).ready(function(){

  var edited = false;

  $('#formId :input').change(function() {
      alert("got here");
      if(!edited) {
        edited = true;
      }
  });

  window.onbeforeunload = preventUser();

  function preventUser() {
    if(edited) {
      alert("Are you sure?");
    }
  }
});
</script>

<script>  
// works.. pops up when tryme button is clicked.
function myFunction() {
    alert("I am an alert box!");
}
</script>

